<% photos.each(function (photo) { %>
    <img class="circular float" src=<%= photo.get('url') %>>
    <% photo.get('caption') %>
<% }) %>

<select class="location-select">
  <option value="san francisco">San Francisco</option>
  <option value="new york">New York</option>
  <option value="Los Angeles">Los Angeles</option>
  <option value="Los Vegas">Los Vegas</option>
</select>