<% photos.each(function (photo) { %>
    <img class="circular float" src=<%= photo.get('url') %>>
    <% photo.get('caption') %>
<% }) %>

<select class="location-select">
  <option data-latitude="122" value="San Francisco">San Francisco</option>
  <option data-latitude="122" value="New York">New York</option>
  <option data-latitude="122" value="Los Angeles">Los Angeles</option>
  <option data-latitude="122" value="Las Vegas">Las Vegas</option>
  <option data-latitude="122" value="Sydney">Sydney</option>
  <option data-latitude="122" value="Tokyo">Tokyo</option>
  <option data-latitude="122" value="Moscow">Moscow</option>
  <option data-latitude="122" value="Sao Paulo">Sao Paulo</option>
  <option data-latitude="122" value="Rio de Janeiro">Rio de Janeiro</option>
  <option data-latitude="122" value="London">London</option>
  <option data-latitude="122" value="Bangkok">Bangkok</option>
</select>